body{
    margin: 0;
    background-color: black;
    color:white;
}

.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.banner .content .title{
    font-family: 'Hallowed Grounds';
    font-size: 6em;
}

.banner::before{
    content:'';
    position: absolute;
    inset: 0;
    background-image: url(./images/bg_dark.png);
    background-size: cover;
    background-position: center;
    z-index: -1;

    mask-image: url(./images/inkgif.gif);
    mask-size: cover;
    mask-position: center;
}